<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "listeners.TestListenerClass"></listener>
<listener class-name = "listeners.RetryListenerClass"></listener>

</listeners>
  <test thread-count="5" name="TestA">
    <classes>
      <class name="testRunners.test"/>
    </classes>
  </test> 
  <test thread-count="5" name="TestB">
    <classes>
      <class name="testRunners.test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
